.icons {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 5px;
  input {
    width: 20px;
  }
  img {
    background-color: transparent;
    padding: 3px;
    width: 15px;
    cursor: pointer;
    filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(19deg)
      brightness(104%) contrast(102%);
  }
}
