.comment {
  border-radius: 5px;
  border: 1px solid #506c87;
  padding: 3px;
  margin: 5px 0 5px 10px;
  display: flex;
  flex-direction: column;
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    textarea {
      padding: 3px;
      width: calc(100% - 8px);
      font-weight: 300;
      border: 1px solid #848484;
      margin-bottom: 5px;
      border-radius: 5px;
    }
    button {
      cursor: pointer;
      background-color: #a27b7b;
      padding: 2px 8px;
      text-align: center;
      align-self: flex-end;
      font-size: 12px;
      color: #222;
      font-weight: 300;
      border-radius: 5px;
    }
  }
  img {
    align-self: flex-end;
    background-color: transparent;
    padding: 3px;
    width: 10px;
    cursor: pointer;
    filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(19deg)
      brightness(104%) contrast(102%);
  }
}
