.edit {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  // top: 0;
  left: 0;
  background-color: rgba(64, 79, 107, 0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 40px;
    background-color: transparent;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    right: 10px;
  }
  .inputs {
    width: 400px;
    height: 300px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    input {
      margin: 10px;
      border: 1px solid #fff;
      border-radius: 5px;
      height: 30px;
      width: 300px;
      font-weight: 300;
      font-size: 20px;
      padding: 5px 10px;
      color: #fff;
    }
    button {
      font-weight: 300;
      font-size: 20px;
      background-color: rgb(56, 67, 87);
      padding: 15px;
      border-radius: 8px;
      margin-top: 20px;
    }
  }
}
